<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cambiar Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- CONTENEDOR CENTRAL -->
    <div class="p-4 w-100">
      <!-- Titulo principal -->
      <h2 class="text-center mb-5 mt-4">Bienvenido a CGE</h2>

      <!-- MENSAJES DE ERROR / ÉXITO  en el caso de que no calcen las contraseñas al crearlas-->
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>

      <!-- FORMULARIO -->
      <form (ngSubmit)="cambiarPassword()" #cambiarPasswordForm="ngForm">

        <!-- CONTRASEÑA ACTUAL -->
        <div class="mb-3">
          <label for="actualCliente" class="form-label">Contraseña Actual</label>
          <input type="password" id="actualCliente" class="form-control" name="passwordActual" [(ngModel)]="passwordActual"
            required>
        </div>

        <!-- NUEVA CONTRASEÑA -->
        <div class="mb-3">
          <label for="nuevaCliente" class="form-label">Nueva Contraseña</label>
          <input type="password" id="nuevaCliente" class="form-control" name="passwordNueva" [(ngModel)]="passwordNueva"
            required>
        </div>

        <!-- CONFIRMAR CONTRASEÑA -->
        <div class="mb-4">
          <label for="confirmarCliente" class="form-label">Confirmar Contraseña</label>
          <input type="password" id="confirmarCliente" class="form-control" name="confirmarPassword" [(ngModel)]="confirmarPassword"
            required>
        </div>

        <!-- BOTÓN -->
        <div class="d-grid">
          <button type="submit" class="btn btn-primary" [disabled]="isLoading || !cambiarPasswordForm.form.valid">
            <span *ngIf="!isLoading">Cambiar</span>
            <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
          </button>
        </div>

      </form>
    </div>
</ion-content>
