<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Medidores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis Medidores</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container mt-4">

    <!-- Título -->
    <h2 class="mb-3">Mis medidores</h2>

    <!-- Contenedor con borde -->
    <div class="card p-3 shadow-sm">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Dirección</th>
          <th scope="col">Estado</th>
          <th scope="col">Otro</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>John</td>
          <td>Doe</td>
          <td>@social</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

</ion-content>
