<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Medidores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis Medidores</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container mt-4">
    <!-- Título -->
    <img src="assets/cge.logo.png" style="width: 80px; height: auto; display: block; margin: 0 auto;" [routerLink]="'/home'">
    <div class="d-flex align-items-center gap-2">
      <a [routerLink]="'/home'" class="fs-3 text-decoration-none text-dark mb-3">&#x2770;</a>
      <h2 class="mb-3">Mis Medidores</h2>
    </div>

    <!-- Loading -->
    <div *ngIf="isLoading" class="text-center">
      <ion-spinner></ion-spinner>
      <p>Cargando medidores...</p>
    </div>

    <!-- Error -->
    <div *ngIf="errorMessage && !isLoading" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <!-- Tabla de medidores -->
      <table class="table" *ngIf="!isLoading && medidores.length > 0">
        <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Dirección</th>
          <th scope="col">Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let medidor of medidores">
          <td>{{ medidor.codigo_medidor }}</td>
          <td>{{ medidor.direccion_suministro }}</td>
          <td>{{medidor.estado.toUpperCase()}}</td>
        </tr>
        </tbody>
      </table>


    <!-- Sin medidores -->
    <div class="card p-3 shadow-sm text-center" *ngIf="!isLoading && medidores.length === 0 && !errorMessage">
      <p>No tienes medidores registrados</p>
    </div>

  </div>

</ion-content>
