<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio de Sesión</ion-title>
    </ion-toolbar>
  </ion-header>

    <!-- CARD / CONTENEDOR QUE ENVUELVE EL FORM -->
    <div class="p-4 w-100">

      <!-- TITULO -->
      <h2 class="text-center mb-5 mt-4">Bienvenido a CGE</h2>

      <!-- FORMULARIO -->
      <form class="row g-3" (ngSubmit)="onLogin()" #loginForm="ngForm">

        <!-- EMAIL -->
        <div class="col-12">
          <label for="emailCliente" class="form-label">Email</label>
          <input type="email" id="emailCliente" class="form-control" name="email_contacto" [(ngModel)]="email_contacto"
            required>
        </div>

        <!-- PASSWORD -->
        <div class="col-12 mb-3" >
          <label for="contrasenaCliente" class="form-label">Password</label>
          <input type="password" id="contrasenaCliente" class="form-control" name="password" [(ngModel)]="password"
            required>
        </div>

        <!-- ERROR MESSAGE -->
        <div class="col-12" *ngIf="errorMessage">
          <ion-text color="danger">{{ errorMessage }}</ion-text>
        </div>

        <!-- BOTON LOGIN -->
        <div class="col-12">
          <ion-button type="submit" expand="block" [disabled]="isLoading || !loginForm.form.valid">
            <ion-spinner *ngIf="isLoading" name="dots"></ion-spinner>
            <span *ngIf="!isLoading">Iniciar Sesión</span>
          </ion-button>
        </div>
      </form>
    </div>
</ion-content>
