<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Panel de Cliente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>
        Bienvenido Cliente: {{ cliente?.nombre_razon || 'Cargando...' }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- CONTENEDOR CENTRAL -->

  <!-- href para cerrar la sesion, que se encarga de borrar el localstorage con los datos del cliente -->
  <div class="d-flex justify-content-end">
    <a href="#" class="text-danger" (click)="logout(); $event.preventDefault()">Cerrar Sesión </a>
  </div>

  <div class="p-4 w-100">
    <!-- Logo pricipal de la page-->
    <img src="assets/cge.logo.png" style="width: 140px; height: auto; display: block; margin: 0 auto;">
    <!-- Subtitulo con el nombre del cliente -->
    <h2 class="text-start mt-3 mb-4 fs-5">Bienvenido(a): {{ cliente?.nombre_razon || 'Cargando...' }}</h2>

    <p class="text-center mb-4" style="font-size: 1.1rem; color: #0d6efd;">
      ¿Qué deseas ver?
    </p>

    <!-- OPCIÓN 1 -->
    <div class="mb-4">
      <button class="btn btn-primary w-100 mb-2" [routerLink]="'/medidores'">Mis Medidores</button>
      <p class="text-center mb-3" style="font-size: 0.9rem; color: #0d6efd;">
        Accede a todos los medidores que estén vinculados a ti.
      </p>
    </div>

    <!-- OPCIÓN 2 -->
    <div>
      <button class="btn btn-primary w-100 mb-2" [routerLink]="'/lecturas'">Mis Lecturas</button>
      <p class="text-center" style="font-size: 0.9rem; color: #0d6efd;">
        Accede a las lecturas de tus medidores que estén vinculados a ti.
      </p>
    </div>

  </div>

</ion-content>
