<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis Lecturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis Lecturas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container mt-4">
    <!-- Título -->
    <img src="assets/cge.logo.png" style="width: 80px; height: auto; display: block; margin: 0 auto;" [routerLink]="'/home'">
    <div class="d-flex align-items-center gap-2">
      <a [routerLink]="'/home'" class="fs-3 text-decoration-none text-dark mb-3">&#x2770;</a>
      <h2 class="mb-3">Mis Lecturas</h2>
    </div>

    <!-- Loading -->
    <div *ngIf="isLoading" class="text-center">
      <ion-spinner></ion-spinner>
      <p>Cargando lecturas...</p>
    </div>

    <!-- Error -->
    <div *ngIf="errorMessage && !isLoading" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <!-- Tabla de lecturas -->
      <table class="table" *ngIf="!isLoading && lecturas.length > 0">
        <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">KWH</th>
          <th scope="col">Mes</th>
          <th scope="col">Año</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let lectura of lecturas">
          <td>{{ lectura.codigo_medidor }}</td>
          <td>{{ lectura.lectura_kwh }}</td>
          <td>{{ nombreMes(lectura.mes) }}</td>
          <td>{{ lectura.anio }}</td>
        </tr>
        </tbody>
      </table>


    <!-- Sin lecturas -->
    <div class="card p-3 shadow-sm text-center" *ngIf="!isLoading && lecturas.length === 0 && !errorMessage">
      <p>No hay lecturas registradas</p>
    </div>
  </div>

</ion-content>
